In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np
import os
import pandas as pd
import sys

project_dir = os.sep.join([os.getcwd(), '..'])
sys.path.append(os.sep.join([project_dir, 'src', 'features']))
import build_features

%matplotlib inline

# Meteorological data

In [2]:
df_met = build_features.met_load_data(os.sep.join([project_dir, 'data', 'interim']))
df_met.describe()

,air_temperature,max(wind_speed PT1H),max_wind_speed(wind_from_direction PT1H),relative_humidity,sum(duration_of_sunshine PT1H),weather_type,over_time(weather_type_primary_significance PT6H),over_time(weather_type_secondary_significance PT6H),sum(precipitation_amount PT1H)
count,17074.000000,17074.000000,17074.000000,17074.000000,17056.000000,3847.000000,3831.000000,3832.000000,17074.000000
mean,10.639382,3.531680,129.836711,70.930596,15.582727,12.484533,2.889063,1.509395,0.094155
std,7.827032,1.711191,97.377514,20.618886,23.973154,21.956990,2.590697,1.570052,0.501781
min,-14.100000,0.400000,1.000000,13.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,4.500000,2.200000,33.000000,55.000000,0.000000,2.000000,2.000000,0.000000,0.000000
50%,11.800000,3.200000,142.000000,75.000000,0.000000,2.000000,2.000000,2.000000,0.000000
75%,16.300000,4.500000,209.000000,89.000000,33.000000,3.000000,6.000000,2.000000,0.000000
max,34.400000,12.600000,360.000000,100.000000,60.000000,91.000000,9.000000,8.000000,17.100000

In [3]:
df_met = build_features.met_rename_columns(df_met)
df_met = build_features.met_transform_wind_direction(df_met)

In [5]:
df_met[['wind_direction', 'wind_direction_cat']].head(10)

   wind_direction  wind_direction_cat
0           335.0                   7
1           354.0                   0
2           358.0                   0
3            42.0                   1
4           244.0                   5
5           205.0                   5
6           141.0                   3
7           200.0                   4
8           203.0                   5
9           201.0                   4